<div class="container">
  <mat-card class="header-container">
    <h1 class="title">Bem vinde ao ⭐️ <span id="logo">bFlatSet!</span></h1>
    <h1>🎻 🎤 🎸 🎺 🎷 🎧</h1>
    <h3 class="subtitle">O seu aplicativo de repertórios online</h3>
    <!-- <ul>
      <li>
        <p>
          <i class="material-icons done">done_outline</i>Cadastre músicas e
          agrupe-as em repertórios
        </p>
      </li>
      <li>
        <p>
          <i class="material-icons done">done_outline</i>Tenha sempre a melhor
          sequência na hora de tocar!
        </p>
      </li>
    </ul> -->
  </mat-card>
  <h2 class="toggle-hide">Acesse sua conta ou Cadastre-se</h2>

  <mat-accordion>
    <mat-expansion-panel>
      <!-- <div class="login-content" *ngIf="!isLoading"> -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons">login</i> Login
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description> Acessar minha conta </mat-panel-description>

      <form [formGroup]="loginForm" *ngIf="!isLoading">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>
      </form>
      <div *ngIf="isLoading" style="text-align: center">
        <app-loading></app-loading>
      </div>
      <button
        type="submit"
        (click)="handleLogin()"
        mat-raised-button
        color="accent"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>

      <!-- </div> -->
    </mat-expansion-panel>

    <!-- <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    > -->
    <mat-expansion-panel (opened)="onOpenPanel()" (closed)="onClosePanel()">
      <!-- <div class="signup-content" *ngIf="!isLoading"> -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="material-icons">how_to_reg</i> Sign up
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description> primeira vez por aqui? </mat-panel-description>

      <form [formGroup]="signupForm" *ngIf="!isLoading">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input type="text" formControlName="username" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>
      </form>
      <div *ngIf="isLoading" style="text-align: center">
        <app-loading></app-loading>
      </div>
      <button
        type="submit"
        (click)="handleSignUp()"
        mat-raised-button
        color="accent"
        [disabled]="!signupForm.valid"
      >
        Sign Up
      </button>
      <!-- </div> -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
