@import "../../../colors.scss";

.container {
  margin: 100px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .login-content,
  .signup-content {
    height: 100%;
  }

  .header-container {
    // border: 1px solid red;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    h1 {
      text-anchor: start;
      font-size: 32px;
      span#logo {
        color: $app-blueish-green;
      }
    }

    h3 {
      line-height: 8px;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      // border: 1px solid red;
      padding-left: 0;
    }

    p {
      font-size: 12px;
      font-weight: 100;
      // &:last-child {

      // }
    }
  }
  h2 {
    margin-top: 20px;
  }
  i.done {
    // vertical-align: text-bottom;
    font-size: 12px;
    color: green;
    margin-right: 6px;
  }

  mat-accordion {
    align-self: center;
    width: 730px;

    margin-bottom: 180px;
    background: $app-background-light;

    mat-expansion-panel {
      border-bottom: 2px solid $app-blueish-green;
    }

    mat-form-field {
      width: 100%;
    }
  }
  @media only screen and (max-width: 728px) {
    .header-container {
      // border: 1px solid red;
      width: 400px;
      align-items: center;
      justify-content: center;
    }
    mat-accordion {
      width: 100%;
    }
  }
}
