@import "../../../colors.scss";

mat-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;

  .red {
    color: $app-red;
    font-size: 13px;
  }

  .v-middle {
    vertical-align: middle;
  }

  a.link {
    color: $app-deeppurple;
    text-decoration: none;
    font-size: 14px;
    vertical-align: bottom;
    transition: 0.3s;

    &:hover {
      opacity: 0.6;
    }
  }
  a.love {
    line-height: 18px;
    margin-left: 10px;
  }
  .legal {
    line-height: 18px;
  }
}

@media only screen and (max-width: 628px) {
  mat-toolbar {
    height: 74px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 446px) {
  a.love {
    font-size: 11px;
  }
  .legal {
    font-size: 12px;
  }
  .material-icons.red {
    font-size: 11px;
  }
}
