@import "../../../../colors.scss";
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "MusicalSymbols";
  src: url("../../../../assets/MUSICAL.eot?") format("eot"),
    url("../../../../assets/MUSICAL.woff") format("woff"),
    url("../../../../assets/MUSICAL.ttf") format("truetype"),
    url("../../../../assets/MUSICAL.svg#MusicalSymbolsNormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  margin: 100px auto;
  width: 100vw;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .full-width-table {
    width: 800px;
  }

  mat-paginator {
    width: 800px;
  }

  td {
    font-weight: 200;
    font-size: 12px !important;
  }

  .name-row {
    display: flex;
    align-items: center;
  }
  .tiny-circle {
    width: 10px;
    height: 10px;
    margin: 0 8px 1px 0;
    border-radius: 5px;

    background-color: $app-ultra-violet;
    border-right: 1px solid $app-mild-purple;
    border-bottom: 1px solid $app-mild-purple;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span.title {
      font-size: 28px;
      margin: 0 20px;
    }

    button.add,
    button.add > i {
      font-size: 24px;
      height: 60px;
      border-radius: 9px;
      margin: 10px 22px;
      // border: 1px solid cadetblue;
      border-right: 1px solid $app-mild-purple;
      border-bottom: 2px solid $app-mild-purple;
      border-top: 1px solid $app-ultra-violet;
      &:hover {
        opacity: 0.8;
        border: none;
      }
      i.add {
        vertical-align: text-top;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .full-width-table {
      width: 100vw;
    }

    mat-paginator {
      width: 100vw;
    }

    td {
      font-weight: 100;
      font-size: 10px !important;
    }
  }
}

@media only screen and (max-width: 428px) {
  .container {
    width: 440px;
    mat-paginator,
    .full-width-table {
      width: 438px;
    }
  }
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: opacify($color: $app-deeppurple, $amount: 0.3);
}

tr.element-row:not(.expanded-row):active {
  background: opacify($color: $app-deeppurple, $amount: 0.3);
}

tr.mat-row.expanded-row {
  display: none;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  width: 100%;
  // border: 2px solid red;

  display: flex;
}

.element-diagram {
  // min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  &:first-child {
    border-right: 1px solid $app-table-line;
  }

  &.left {
    min-width: 156px;
    justify-content: space-around;
  }

  &.middle {
    width: 100%;
  }

  &.right {
    width: 100px;
    align-items: center;
    justify-content: space-around;
  }

  .element-name {
    font-size: 22px;
    display: flex;
  }

  .element-style {
    span.segno {
      font-size: 22px;
      font-family: "MusicalSymbols";
      vertical-align: bottom;
      margin-right: 4px;
    }
  }
  .element-tempo {
    span.bpm {
      font-size: 22px;
      font-family: "MusicalSymbols";
      font-weight: bold;
      margin-right: 8px;
    }
  }

  .element-key {
    span.cleff {
      font-size: 19px;
      font-family: "MusicalSymbols";
      margin: 0 2px 0 -2px;
    }
  }
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

a > button.mat-raised-button {
  transition: 0.2s;
  &:hover {
    opacity: 0.8;
  }
}
