<div class="container">
  <mat-card class="header-container">
    <h1 class="title">SetLists</h1>
    <button
      mat-raised-button
      type="submit"
      color="accent"
      matTooltip="Clique para criar um novo set list!"
      matTooltipPosition="below"
      matTooltipShowDelay="1500"
    >
      <i class="material-icons">add</i>
      New Set
    </button>
  </mat-card>

  <!-- *ngIf="screenWidth >= 1200" -->
  <mat-grid-list [cols]="cols" rowHeight="300px" gutterSize="10px">
    <mat-grid-tile *ngFor="let set of sets">
      <mat-card>
        <mat-card-title>Set{{ set }}</mat-card-title>
        {{ set }}
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
