@import "../../../colors.scss";
// container settings

.container {
  box-sizing: content-box;
  width: 1200px;
  min-height: 100vh;
  margin: 100px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: #212121;
  padding-bottom: 70px;
  margin-bottom: 40px;

  // container header settings
  mat-card.header-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    h1 {
      font-size: 38px;
      margin-left: 20px;
    }
    // button {
    //   height: 64px;
    //   margin-right: 40px;
    // }
    button.add,
    button.add > i {
      font-size: 24px;
      height: 60px;
      border-radius: 9px;
      margin: 10px 22px;
      // border: 1px solid cadetblue;
      border-right: 1px solid $app-mild-purple;
      border-bottom: 2px solid $app-mild-purple;
      border-top: 1px solid $app-ultra-violet;
      &:hover {
        opacity: 0.8;
        border: none;
      }
      i.add {
        vertical-align: text-top;
        font-weight: bold;
        margin-bottom: 5px;
      }
    }
  }
}

// grid settings
mat-grid-list {
  width: 1200px;
  height: 100vh;

  mat-grid-tile {
    overflow: unset;
    margin: 10px 0;
    &:nth-child(odd) {
      margin-left: 10px;
    }
    &:nth-child(even) {
      margin-left: -10px;
    }
  }
}

// card settings
mat-card.card {
  border: 1px solid orange;
  min-width: 540px;
  height: 266px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  mat-card-description {
    font-size: 12px;
  }
  mat-list-item {
    height: 32px !important;
  }
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mat-card-title {
    margin-top: 10px;
  }
  .card-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 98vw;

    mat-card.header-container {
      width: 96vw;
    }
  }

  mat-grid-list {
    mat-grid-tile {
      margin: 10px 0;
      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }

  mat-card.card {
    mat-card-description {
      font-size: 12px;
    }
    mat-list-item {
      height: 32px !important;
    }
  }

  @media only screen and (max-width: 700px) {
    mat-card.card {
      min-width: 480px;
    }
  }
  @media only screen and (max-width: 570px) {
    mat-card.card {
      min-width: 400px;
    }
  }

  @media only screen and (max-width: 420px) {
    .container {
      width: 100vw;
      margin: 100px auto;
      overflow: scroll;

      mat-card.header-container {
        width: 94vw;
        h1 {
          margin-left: 10px;
        }
        button {
          margin-right: 8px;
        }
      }
    }

    mat-card.card {
      min-width: 300px;
    }
    mat-card-description {
      font-size: 12px;
    }
    mat-list-item {
      height: 32px !important;
      // border: 1px solid red !important;
    }
  }
}
