// container settings
.container {
  box-sizing: content-box;
  width: 1232px;
  min-height: 100vh;
  margin: 100px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  padding-bottom: 70px;
  margin-bottom: 40px;
  // border: 1px solid red;

  // container header settings
  mat-card.header-container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    h1 {
      font-size: 38px;
    }
    button {
      height: 64px;
    }
  }
}
// grid settings
mat-grid-list {
  width: 1200px;
  height: 100vh;

  mat-grid-tile {
    margin: 10px 0;
    background: grey;
  }
}

// card settings
mat-card.card {
  width: 480px;
  height: 266px;
}

mat-card-header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mat-card-title {
    margin-top: 10px;
  }
  .card-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 98vw;

    mat-card.header-container {
      width: 96vw;
    }
  }
  mat-grid-list {
    width: 92vw;

    mat-grid-tile {
      // border: 1px solid red;
      min-width: 480px;
      // max-height: 200px;
    }
  }
}
