<mat-sidenav-container class="container">
  <mat-sidenav
    (click)="mobileClose()"
    class="sidenav"
    mode="over"
    hasBackdrop="true"
    [opened]="opened"
    fixedInViewport="true"
    fixedTopGap="0"
  >
    <div class="offset" style="height: 70px;"></div>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/auth">
        <i class="material-icons">lock_open</i> Autenticação
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i> Dashboard
      </a>
      <a mat-list-item routerLink="/sets">
        <i class="material-icons">queue_music</i> Sets
      </a>
      <a mat-list-item routerLink="/songs">
        <i class="material-icons">music_note</i> Songs
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">

    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
