mat-sidenav-content.content {
  height: 100vh;
}
mat-nav-list {
  width: 220px;
}

a.logoff {
  position: absolute;
  bottom: 80px;
}
@media only screen and (max-width: 628px) {
  mat-sidenav {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;

    mat-nav-list {
      width: 100vw;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      text-align: center;
    }
  }
  a.logoff {
    bottom: 120px;
  }
}
a.mat-list-item-disabled {
  background: #424242;
  opacity: 0.3;
  // pointer-events: painted;

  &:hover {
    cursor: not-allowed;
  }

  // cursor: crosshair;
}
