$app-deeppurple: #7d389d;
$app-ultra-violet: #ae00fe;
$app-mild-purple: #bc73de;

$app-blueish-green: #1eca89;
$app-green: #00ba5a;

$app-red: #f44336;

$app-background-light: #535355;
$app-background-dark: #303030;
