/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #535355;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(25, 14, 26, 0.6);
}

.mat-snack-message {
  background: linear-gradient(50deg, #3abd5d, #062924);
  color: #fff;
  z-index: 3000;
}

.mat-snack-error {
  background: linear-gradient(50deg, #ff4081, #062924);
  color: #fff;
  z-index: 3000;
}
.mat-hint {
  color: #f44336;
}
