/* You can add global styles to this file, and also import other style files */

@import "./colors.scss";

html,
body {
  height: 100%;
  background: $app-background-light;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(25, 14, 26, 0.6);
}

.mat-snack-message {
  background: linear-gradient(50deg, $app-green, #062924);
  color: #fff;
  z-index: 3000;
  font-size: 20px;
  margin: 47px 39px !important;
  width: 250px !important;
}

.mat-snack-error {
  background: linear-gradient(50deg, $app-red, #062924);
  color: #fff;
  font-size: 20px;
  z-index: 3000;
  margin: 47px 39px !important;
  width: 250px !important;
}
.mat-hint {
  color: $app-red;
}
